# ----------------------------------------------------
# DATA
# ----------------------------------------------------
data/
*.pkl
*.mat
*.csv
*.tsv
*.txt
*.zip
*.gz

# ----------------------------------------------------
# PYTHON ENVIRONMENTS
# ----------------------------------------------------
.venv/
__pycache__/
*.pyc
*__init__.py

# ----------------------------------------------------
# JUPYTER NOTEBOOK STUFF
# ----------------------------------------------------
.ipynb_checkpoints/

# ----------------------------------------------------
# NODE / FRONTEND
# ----------------------------------------------------
node_modules/
dist/
build/
package-lock.json

# ----------------------------------------------------
# OS / EDITOR FILES
# ----------------------------------------------------
.DS_Store
Thumbs.db

# ----------------------------------------------------
# LOGS & TEMP FILES
# ----------------------------------------------------
*.log
*.tmp
*.cache
.vscode/
